<div class="container">
  <div class="user-details">
    <h3> whoami? </h3>
    <p style="font-size:20px;"> Hey there, I am Amrit Srivastava.<br>
    I am persuing engineering in computer science domain.<br>
    I like to code, cook, debate, travel and listen to music.<br>
    I am an introvert for those who don't know me.<br><br>
    Presently I begin working on python and intreseted in web devlopment<br>
    Seeking for an internship in Web Development.<br>
    I also contribute to open source at <b><i>Fossasia</i></b> and an aspirant for the <b><i>Gsoc 2k18</i></b><br>
    I like to write algos and intrested in competitive and sports programming.<br>
    Moreover I knew programming languages like Java, C and C++ and created few projects using these.
    Presently I am working on a project for improving performance of smartphones using storage optimization techniques
    and going to work on another project to creat an advance text editor for programmers.<br><br>
    To know more about me you can view my resume <a href="amritsrivastava.github.io/resume.pdf">here</a>.
  </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <img alt="ai" src="{{ "/assets/img/icons/ai.svg" | prepend: site.baseurl }}" height=70px width=70px/>
      <p style="font-size:20px;">For designing I use HTML5, CSS, Bootstrap, Adobe Illustrater and Adobe Photoshop</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <img alt="pc" src="{{ "/assets/img/icons/pc.png" | prepend: site.baseurl }}" height=70px width=70px/>
      <img alt="gcc" src="{{ "/assets/img/icons/gcc.png" | prepend: site.baseurl }}" height=70px width=70px/>
      <img alt="eclips" src="{{ "/assets/img/icons/eclips.ico" | prepend: site.baseurl }}" height=70px width=70px/>
      <p style="font-size:20px;">For coding I use Pychar for python, and standerd gcc compiler for C/C++. I also use eclipse for devlopment purpose.<p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <img alt="sublim" src="{{ "/assets/img/icons/sublime.png" | prepend: site.baseurl }}" height=70px width=70px/>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I use tools like github as version control system and and advance text editor like Atom and Sublime Text.</p>
    </div>
  </div>
</div>
