<div class="container">
  <div class="user-details">
    <h3> whoami? </h3>
    <p> Hey there, I am Amrit Srivastava.<br>
    I am persuing engineering in computer science domain.<br>
    I like to code, cook, debate, travel and listen to music.<br>
    I am an introvert and for those who don't know me.<br><br>
    Presently I begin working on python and intreseted in the field of web devlopment<br>
    Seeking for an internship in Web Development.<br>
    I like to write algos and intrested in competitive and sports programming.<br>
    Moreover I knew programming languages like Java, C and C++. </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
