<div id="particles-js">
  <div class="content">
    <div class="mt-3">
      <img
        alt="Amrit Srivastava"
        src="/assets/img/amrit.jpg"
        height="200px"
        width="200px"
        class="rounded-circle border border-white my-3"
      />
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </div>
    <div class="icons-header mt-5">
      <a
        aria-label="My Linkedin"
        target="_blank"
        href="https://www.linkedin.com/in/{{site.linkedin_username}}"
      >
        <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a
        aria-label="My Github"
        target="_blank"
        href="https://github.com/{{site.github_username}}"
      >
        <i class="icon fa fa-github-alt" aria-hidden="true"></i>
      </a>
      <a
        aria-label="My Twitter"
        target="_blank"
        href="https://twitter.com/{{site.twitter_username}}"
      >
        <i class="icon fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a
        aria-label="Facebook"
        target="_blank"
        href="https://facebook.com/{{site.facebook_username}}"
      >
        <i class="icon fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a
        aria-label="Salesforce"
        target="_blank"
        href="https://trailblazer.me/id/{{site.salesforce_username}}"
      >
        <i class="icon fa fa-cloud" aria-hidden="true"></i>
      </a>
      <a aria-label="Send email" href="mailto:{{site.email}}">
        <i class="icon fa fa-envelope"></i>
      </a>
    </div>
    <a class="link" href="/assets/docs/Amrit's Resume.pdf" download>
      <h3>Resume</h3>
    </a>
  </div>
  <a class="down" href="#about" data-scroll>
    <i class="icon fa fa-chevron-down my-3" aria-hidden="true"></i>
  </a>
</div>
