<div class="container">
  <div class="user-details">
    <h3> Contact Me </h3><br><br>
    <p style="font-size:20px;"> Catch me here at ...<br><br>
      <a aria-label="Send email" href="mailto:{{site.email}}">  <img alt="ai" src="{{ "/assets/img/icons/gmail.ico" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">  <img alt="ai" src="{{ "/assets/img/icons/twitter.png" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">  <img alt="ai" src="{{ "/assets/img/icons/git.svg" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="Facebook" target="_blank" href="https://facebook.com/{{site.facebook_username}}">  <img alt="ai" src="{{ "/assets/img/icons/fb.svg" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="Insta" target="_blank" href="https://www.instagram.com/amrit1999/">  <img alt="ai" src="{{ "/assets/img/icons/insta.png" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="Medium" target="_blank" href="https://medium.com/@srivastava.amrit1999">  <img alt="ai" src="{{ "/assets/img/icons/medium.jpg" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
      <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.gplus_username}}/posts">  <img alt="ai" src="{{ "/assets/img/icons/gplus.png" | prepend: site.baseurl }}" height=70px width=70px/></i></a>
    </p>
  </div>
</div>
