<div class="container-fluid" style="padding-top: 100px;">
  <div class="mx-auto text-center">
    <h1 class="text-center mb-0">Skills 🛠️</h1>
    <img src="/assets/img/line.png" class="mb-5" alt="___________________" />
  </div>
  <div class="row justify-content-center">
    {% for tech in site.data.skills %}
    <div class="skills-card m-3 text-center">
      <img
        src="{{ tech.img }}"
        alt="{{ tech.name }}"
        loading="lazy"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ tech.name }}"
        class="my-3 img-fluid"
      />
      <h4>{{tech.name}}</h4>
    </div>
    {% endfor %}
  </div>
</div>
