<div class="container-fluid" style="padding-top: 100px;">
  <div class="mx-auto text-center">
    <h1 class="text-center mb-0">Skills 🛠️</h1>
    <img src="/assets/img/line.png" class="mb-5" />
  </div>
  <div class="row justify-content-center">
    {% for tech in site.data.skills %}
    <div class="col-md-5">
      <div class="row justify-content-center">
        <div class="col-2 text-center">
          <img
            src="{{ tech.img }}"
            alt="{{ tech.name }}"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ tech.name }}"
            class="my-2 img-fluid"
          />
        </div>
        <div class="col-8 align-self-center">
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated {{ tech.color }}"
              role="progressbar"
              aria-valuenow="{{ tech.progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: {{ tech.progress }}%;"
            >
              {{ tech.progress }}%
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
