$main: #1a222c;
$sec: #4b5664;
$purple: #54516a;
$cut: 768px;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
  p {
    font-size: 20px;
    text-align: justify;
  }
}

@-webkit-keyframes pulse {
  from {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
  50% {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    top: -10px;
  }
  to {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
}

@keyframes pulse {
  from {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
  50% {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    top: -10px;
  }
  to {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0;
  }
}

#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width: 100vw !important;
    height: 100vh !important;
  }
}

.content {
  z-index: 1;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    @media only screen and (min-width: $cut) {
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width: $cut) {
      font-size: 40px;
    }
  }
  .link {
    color: #fff;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width: $cut) {
      font-size: 20px;
    }
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    padding: 7px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.7s;
    &:hover {
      color: $main;
      background: #fff;
    }
    &:active {
      color: $main;
      background: #fff;
    }
    @media only screen and (min-width: $cut) {
      width: 60px;
      height: 60px;
      padding: 10px;
      font-size: 35px;
    }
  }
}

.down {
  color: #fff;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  color: #fff;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #fff;
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.project-card {
  box-shadow: 3px 3px 5px #f0eeee, -3px -3px 5px #f0eeee;
  margin: 10px 2px;
  width: 300px;
  @media only screen and (min-width: $cut) {
    margin: 15px;
    width: 350px;
  }
}

.experience-card {
  border: 1px solid #d5d5d5;
  box-shadow: 3px 3px 5px #f0eeee, -3px -3px 5px #f0eeee;
  margin: 10px 2px;
  min-height: 300px;
  // width: 300px;
  @media only screen and (min-width: $cut) {
    margin: 15px;
    // width: 350px;
  }
}

.modal-custom {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  @media only screen and (min-width: 500px) {
    max-width: 450px;
  }
  @media only screen and (min-width: $cut) {
    max-width: 700px;
  }
}
